
@{
    ViewBag.Title = "AddWriter";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2>Yazar Ekleme Sayfası</h2>
<form class="form-group" method="post">
    <input type="text" placeholder="Yazar Adi" name="WriterName" />
    <input type="text" placeholder="Yazar Soyadı" name="WriterSurname" />
    <input type="text" placeholder="Eposta" name="WriterMail" />
    <input type="text" placeholder="Şifre" name="Password" />
    <button class="btn btn-info">
        Ekle
    </button>
</form>

